<div class="scroll-area-sm">
    <div class="list-group" id="groupMessage">
        {% for message in messages %}


        <a class="list-group-item list-group-item-action " aria-current="true">
            <div class="d-flex w-100 h-25 d-inline-block justify-content-between">
              <h5 class="mb-1">{{message.username}}</h5>
              <small>{{message.dateMessage}}</small>
            </div>
            <p class="mb-1">{{message.message}}</p>
            <!-- <small>messagerie</small> -->
        </a>
        {% endfor %}

            <!-- <small>messagerie</small> -->
        </a>
    </div>
    </div>
    <div class="my-4 py-4"></div>  