{% include "partials/header.html" with title_page="Accueil"%}
{% include "partials/navbar.html" with title_page="Accueil"%}


{% block content %}
    <div id="toReload">

        <!-- Affiche tout les messages -->
        {% include 'partials/messageList.html' %}


    </div>
    {% if user.is_authenticated %}
    <div class="fixed-bottom pb-3 px-5 pt-2" > <!-- style="background-color:black"> -->
        {% include "partials/text_input.html" %}
    </div>
    {% endif %}
    <script>
        let countDB= {{messages | length}}
        
        setInterval(function(){
            $.ajax({
                url:'reload',
                method:"GET",
                cache:false,
                contentType:false,
                processData:false,
                data:{
                    cachekiller:(new Date()).getTime(),
                    action:'doLogin'
                },
                success:function(data){
                    console.log("changement");
                    $("#toReload").html(data)
                },
                error:function(error){
                    //console.log(error)
                }
            })
        }, 2000);

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

{% include "partials/footer.html" %}
{% endblock %}