{% include "partials/header.html" with title_page="Accueil"%}
{% include "partials/navbar.html" with title_page="Accueil"%}


{% block content %}
    <!-- Affiche tout les messages -->
    {% include 'partials/messageList.html' %}



    {% if user.is_authenticated %}
    <div class="fixed-bottom pb-3 px-5 pt-2" > <!-- style="background-color:black"> -->
        {% include "partials/text_input.html" %}
    </div>
    {% endif %}
    <script>
        let countDB= {{messages | length}}

        setInterval(function(){
            const xhttp=new XMLHttpRequest();
            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", `http://localhost:8000/message/all`, false);
            xhttp.send();
            console.log(xhttp.respontText);
            console.log("countDB ---> ",countDB);
            console.log("DB active ---> ",{{ messages | length }});
            if(countDB== {{ messages | length }} ){
                console.log("rechargement FAIT");
                location.reload();
            }
        }, 3000);

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

{% include "partials/footer.html" %}
{% endblock %}