{% include "partials/header.html" with title_page="Accueil"%}
{% include "partials/navbar.html" with title_page="Accueil"%}


{% block content %}
    <div id="toReload">

        <!-- Affiche tout les messages -->
        {% include 'partials/messageList.html' %}


    </div>

    {% if user.is_authenticated %}
    <div class="fixed-bottom pb-3 px-5 pt-2 border-top " style="background-color:white">
        {% include "partials/text_input.html" with post_message_onclick="SendMessageToServer" %}
    </div>
    {% endif %}

    <script>
        document.getElementById("MessageText").value='';
        let countDB= {{messages | length}};
        
        
        // Met la page en bas dès le chargement du début
        window.onload=()=>{window.scrollTo(0,document.body.scrollHeight);}
        
        // Animation du scroll
        //window.onload=()=>{
        //    $("document").ready(()=>{$("html, body").animate({scrollTop:$(document).height()},1000);});
        //}
        // Envoie requete par intervalle pour vérifier si nouveau message
        setInterval(function(){
            $.ajax({
                url:'reload',
                method:"GET",
                cache:false,
                contentType:false,
                processData:false,
                data:{
                    cachekiller:(new Date()).getTime(),
                    action:'doLogin'
                },
                success:function(data){
                    //Recharge la page si nouveau élément dans la liste
                    $("#toReload").html(data);
                },
                error:function(error){
                    //console.log(error)
                }
            })
        }, 1500);

        // Envoie une requête au POST pour envoyer le message
        //const SendMessageToServer = () => {
            //fetch("http://localhost:8000/forum/message",{method:"POST"})
            //.then((res)=>{
            //    $("#message").val('TEST');
            //    console.log(res);
            //});
        //};


    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

{% include "partials/footer.html" %}
{% endblock %}